.background-image{
    --background: url(../../assets/bgimg.png) 0 0/100% 100% no-repeat;
}
.login{
    margin-top : 40px;
    border-radius: 10px;
}
.suppName{
    text-align: center;
    margin-top: 80px;
}